<div class="blog">
    <app-scrollup></app-scrollup>
    <app-header-one [url]="'about'"></app-header-one>
    <div class="all-area">
        <section id="blog" class="section blog-area ptb_100">
            <h1 class="text-uppercase text-center" style="font-size: 60px;color: #E44B4B;height: 80px;margin-top: 100px;">Kompaniya haqida</h1>
        </section>
        <div class="container mt-3">
            <div class="row">
                <div class="col-5">
                    <div class="mat-elevation-z4 p-5" style="height: 500px;width: 115%;background-color: #fff;margin-top: 25px;">
                        <h1 style="font-size: 40px;color: #264796;font-weight: 800">20 yildan ortiq</h1>
                        <h4>O'zbekiston bozorida</h4>
                        <p class="text-left" style="font-family: sans-serif;font-size: 18px;">
                            Deraza va eshik konstruksiyalari uchun plastik profillar ishlab chiqaruvchisi Alutex 10 yildan ortiq vaqt davomida tayyor PVX derazalar ishlab chiqarish uchun zamonaviy materiallarni ishlab chiqaradi. Narx va sifat jihatidan optimal, PVX plastik derazalar va Alutex profilli eshiklar zamonaviy hayot standartidir. Bizning hamkorlarimiz va ularning odatiy balkon bloklari, shuningdek, murakkab dizayn echimlari uchun nostandart dizaynlar. Qaysi oynalarni tanlashni xohlayotganingizga qarab, bizning hamkorlarimiz eng yaxshi echimni topadilar.
                        </p>
                    </div>
                </div>
                <div class="col-7" style="">
                    <img src="./assets/3/site3/about1.png"  style="height: 550px;position: relative;z-index: -1;" alt="">
                </div>
            </div>
        </div>
        <div class="container my-3">
            <h1 class="text-center my-3">Sertifikatlar</h1>
            <div class="row">
                <div class="col-4">
                    <div class="mat-elevation-z4 p-3">
                        <div class="text-center my-3">
                            <img src="./assets/3/site3/about2.jpg" alt="">
                        </div>
                        <div>
                            <p>London 2018</p>
                            <h2>Sifat muvofiqlik sertifikati</h2>
                        </div>
                    </div>
                </div>
                <div class="col-8"></div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
