<section class="section download-area-imzo">
    <div class="container my-3">
        <h1 style="color: #faf" class="text-uppercase"><b>Bizning mijozlarimiz</b></h1>
        <div class="partner owl-carousel">
            <div>
                <img src="../../../assets/16/part1.png" style="width: 200px;" alt="">
            </div>
            <div>
                <img src="../../../assets/16/part2.png" style="width: 200px;" alt="">
            </div>
            <div>
                <img src="../../../assets/16/part3.png" style="width: 200px;" alt="">
            </div>
            <div>
                <img src="../../../assets/16/part4.png" style="width: 200px;" alt="">
            </div>
        </div>
    </div>
</section>
