<section id="benifits" class="section benifits-area ptb_100" [ngStyle]="{'background-color': url == '' ? '#2F2F2F' : '#fff'}">
    <div class="container">
        <h1 class="my-4 text-white text-uppercase text-center">
            <span *ngIf="url==''">Eng zo'r takliflar</span>
            <span style="color: #111;" *ngIf="url!=''">Mahsulot</span>
        </h1>
        <div class="row my-4">
            <div class="col-6 my-2">
                <div class="about-1" style="position: relative;">
                    <div class="about-1-overlay" style="position: absolute;top: 0;left: 0;width: 100%;height: 0;opacity: 0;visibility: hidden;">
                        <div class="fadeIn p-5">
                            <h3 class="mb-3 text-white">TERMAL seriyasi</h3>
                            <p class="text-white" style="font-size: 15px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque</p>
                            <button class="my-3" mat-raised-button style="z-index: 999;position: relative;">Batafsil</button>
                        </div>
                    </div>
                    <img src="./assets/3/site3/1.jpeg" style="height: 400px;width: 100%;" alt="">
                    <button class="about-1-btn" mat-flat-button style="bottom: 0;position: absolute;left: 0;">TERMAL seriyasi</button>
                </div>
            </div>
            <div class="col-6 my-2">
                <div class="about-1" style="position: relative;">
                    <div class="about-1-overlay" style="position: absolute;top: 0;left: 0;width: 100%;height: 0;opacity: 0;visibility: hidden;">
                        <div class="fadeIn p-5">
                            <h3 class="mb-3 text-white">Fasad tizimlari</h3>
                            <p class="text-white" style="font-size: 15px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque</p>
                            <button class="my-3" mat-raised-button style="z-index: 999;position: relative;">Batafsil</button>
                        </div>
                    </div>
                    <img src="./assets/3/site3/2.jpg" style="height: 400px;" alt="">
                    <button class="about-1-btn" mat-flat-button style="bottom: 0;position: absolute;left: 0;">Fasad tizimlari</button>
                </div>
            </div>
            <div class="col-6 my-2">
                <div class="about-1" style="position: relative;">
                    <div class="about-1-overlay" style="position: absolute;top: 0;left: 0;width: 100%;height: 0;opacity: 0;visibility: hidden;">
                        <div class="fadeIn p-5">
                            <h3 class="mb-3 text-white">PROTON seriyali</h3>
                            <p class="text-white" style="font-size: 15px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque</p>
                            <button class="my-3" mat-raised-button style="z-index: 999;position: relative;">Batafsil</button>
                        </div>
                    </div>
                    <img src="./assets/3/site3/3.jpg" style="height: 400px;width: 100%;" alt="">
                    <button class="about-1-btn" mat-flat-button style="bottom: 0;position: absolute;left: 0;">PROTON seriyali</button>
                </div>
            </div>
            <div class="col-6 my-2">
                <div class="about-1" style="position: relative;">
                    <div class="about-1-overlay" style="position: absolute;top: 0;left: 0;width: 100%;height: 0;opacity: 0;visibility: hidden;">
                        <div class="fadeIn p-5">
                            <h3 class="mb-3 text-white">Jadvallar (matritsalar)</h3>
                            <p class="text-white" style="font-size: 15px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque</p>
                            <button class="my-3" mat-raised-button style="z-index: 999;position: relative;">Batafsil</button>
                        </div>
                    </div>
                    <img src="./assets/3/site3/4.jpeg" style="height: 400px;" alt="">
                    <button class="about-1-btn" mat-flat-button style="bottom: 0;position: absolute;left: 0;">Jadvallar (matritsalar)</button>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button mat-raised-button class="bg-white ">Barchasini ko'rish</button>
        </div>
    </div>
</section>
