<footer class="section footer-area footer-bg">
    <!-- Footer Top -->
    <div class="footer-top ptb_100">
        <div class="container">
            <div class="row mt-3 align-items-center">
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Social Icons -->
                        <img src="../../../assets/16/logo.svg" style="width: 200px;" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h1 class="footer-title text-white mb-2" style="margin-left: 10px;">Aloqa</h1>
                        <p><mat-icon style="vertical-align: middle">location_pin</mat-icon> Toshkent viloyati, Yangiyo‘l tumani, Samarqand ko‘chasi
                        </p>
                        <p><mat-icon style="vertical-align: middle">phone</mat-icon> +998 97 877 77 27</p>
                        <p><mat-icon style="vertical-align: middle">mail</mat-icon> info@rasulov.uz</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="social-icons d-flex">
                        <a class="facebook" href="#">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="twitter" href="#">
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="google-plus" href="#">
                            <i class="fab fa-google-plus-g"></i>
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                        <a class="vine" href="#">
                            <i class="fab fa-vine"></i>
                            <i class="fab fa-vine"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between text-center py-4">
                        <div class="copyright-left text-white-50">Copyright © 2021 - 2022</div>
                        <div class="copyright-left text-white-50">Biz bilan bog'laning</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
