<section id="home" class="section welcome-area">
    <img src="./assets/4/site/1920-х-600_2.jpg" alt="">
    <div class="container-fluid my-3">
        <div class="row">
            <div class="col-6">
                <div class="" style="background-color: #F0F4F8;padding: 60px 30px;height: 100%">
                    <div class="">
                        <div class="w-50">
                            <h1 class="mb-3" style="font-size: 30px;">
                                Artel TV UA86J6502
                            </h1>
                            <p style="font-size: 18px;">
                                AndroidTV operatsion tizimiga ega yangi Artel televizori sizga sevimli filmlaringizni tomosha qilishdan ajoyib zavq bag'ishlaydi.
                            </p>
                        </div>
                    </div>
                    <div class="" style="position: absolute;top: 0;">
                        <img src="./assets/4/site/1.png" alt=""  >
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="" style="background-color: #F0F4F8;padding: 60px 30px;height: 100%">
                    <div class="">
                        <div class="w-50">
                            <h1 class="mb-3" style="font-size: 30px;">
                                Artel HD 455RWENE
                            </h1>
                            <p style="font-size: 18px;">
                                Mutlaqo tovushsiz ishlaydigan sovutgichning hajmi bir haftalik mahsulotlarni saqlash uchun bemalol yetadi.
                            </p>
                        </div>
                    </div>
                    <div class="" style="position: absolute;top: 0;">
                        <img src="./assets/4/site/2.png" alt=""  >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
