<section id="blog" class="section blog-area ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Section Heading -->
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2 class="text-capitalize text-center">Sifat sertifikatlari</h2>
                    <p class="d-sm-block mt-4">Sertifikatlar IMZO mahsulotlarining Davlat standartlariga to'liq mos ekanligini tasdiqlaydi. Bundan tashqari, kompaniyada ISO 9001: 2015 talablariga muvofiq sifat menejmenti tizimi joriy etilgan va qo’llanib kelinmoqda</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Blog -->
                <div class="res-margin">
                    <!-- Blog Thumb -->
                    <div class="">
                        <a href="#"><img src="../../../../assets/2/sert1.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Blog -->
                <div class="res-margin">
                    <!-- Blog Thumb -->
                    <div class="">
                        <a href="#"><img src="../../../../assets/2/sert2.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Blog -->
                <div class="res-margin">
                    <!-- Blog Thumb -->
                    <div class="">
                        <a href="#"><img src="../../../../assets/2/sert3.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
