<footer class="section footer-area footer-bg">
    <!-- Footer Top -->
    <div class="footer-top ptb_100">
        <div class="container">
            <h1 class="text-center text-white">So'rov qoldiring, biz sizga tez orada qo'ng'iroq qilamiz</h1>
            <div class="row">
                <div class="col-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label style="color: #fff;">Sizning ismingiz</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label style="color: #fff;">Telefon raqam</mat-label>
                        <input type="number" matInput>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <button mat-flat-button style="height: 53px; width: 100%; margin-top: 3px;background-color: #fff;text-align: center">Yuborish</button>
                </div>
                <div class="col-3">
                    <button mat-flat-button style="height: 53px; width: 100%; margin-top: 3px;background-color: #264796;color:#fff;text-align: center">Dilerlar uchun</button>
                </div>
            </div>
            <mat-divider style="background-color: #999"></mat-divider>
            <div class="row mt-3">
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Social Icons -->
                        <h3 class="footer-title text-white mb-2">Kompaniya haqida</h3>
                        <p>1999 yildan beri Alutex kompaniyasi 100% alyuminiy profillarini ishlab chiqarish bo'yicha O'zbekistonda etakchilardan biri hisoblanadi</p>
                        <div class="social-icons d-flex">
                            <a class="facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="instagram" href="#">
                                <i class="fab fa-instagram"></i>
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="telegram" href="#">
                                <i class="fab fa-telegram"></i>
                                <i class="fab fa-telegram"></i>
                            </a>
                            <img style="width: 50px;" src="./assets/3/site3/footer-logo.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title text-white mb-2" style="margin-left: 10px;">Foydali havolalar</h3>
                        <div class="row">
                            <div class="col-6">
                                <ul>
                                    <li class="py-2"><a class="text-white-50" href="#"><mat-icon style="vertical-align: sub;">arrow_right</mat-icon>Asosiy</a></li>
                                    <li class="py-2"><a class="text-white-50" href="#"><mat-icon style="vertical-align: sub;">arrow_right</mat-icon>Biz haqimizda</a></li>
                                    <li class="py-2"><a class="text-white-50" href="#"><mat-icon style="vertical-align: sub;">arrow_right</mat-icon>Vazifa</a></li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul>
                                    <li class="py-2"><a class="text-white-50" href="#"><mat-icon style="vertical-align: sub;">arrow_right</mat-icon>Mahsulotlar</a></li>
                                    <li class="py-2"><a class="text-white-50" href="#"><mat-icon style="vertical-align: sub;">arrow_right</mat-icon>Xizmatlar</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title text-white mb-2" style="margin-left: 10px;">Kontaktlar</h3>
                        <ul>
                            <li class="py-2"><a class="text-white-50" href="#"><mat-icon style="vertical-align: sub;margin-right: 5px;">home</mat-icon>Toshkent shahri, Yunusobod tumani, ko'ch. Shahristonskaya, 10, 6</a></li>
                            <li class="py-2"><a class="text-white-50" href="#"><mat-icon style="vertical-align: sub;margin-right: 5px;">mail</mat-icon>alutex@alutex.uz</a></li>
                            <li class="py-2"><a class="text-white-50" href="#"><mat-icon style="vertical-align: sub;margin-right: 5px;">phone</mat-icon>98 125 04 44</a></li>
                            <li class="py-2"><a class="text-white-50" href="#"><mat-icon style="vertical-align: sub;margin-right: 5px;">access_time</mat-icon>Du. -Juma.:9:00 dan 18:00 gacha</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between text-center py-4">
                        <div class="copyright-left text-white-50">ALUTEX © 2022 Barcha huquqlar himoyalangan</div>
                        <div class="copyright-left text-white-50">Shaxsiy ma'lumotlarni qayta ishlash shartlari</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
