<div class="blog">
    <app-scrollup></app-scrollup>
    <div class="all-area">
        <app-header-one></app-header-one>
        <div class="contact-bg">
            <h1 class="" style="color:#fff;position: relative;top: 300px;font-size: 45px;left: 80px;z-index: 99;"><b>Aloqa ma'lumotlari</b></h1>
        </div>
        <section id="blog" class="section blog-area">
            <div class="container" style="padding: 40px 0">
                <h1 class="text-center">Savdo ofislari</h1>
                <h2 class="text-center"> Toshkent shahri</h2>
                <div class="row">
                    <div class="col-3">
                        <div class="mat-elevation-z2 text-center p-3" style="height: 180px;">
                            <h3><b>Ahmedov Bohodir</b></h3>
                            <p><mat-icon style="vertical-align: middle">location_pin</mat-icon>Toshkent, or-r 16 tog'lar. kasalxona
                            </p>
                            <p><mat-icon style="vertical-align: middle">phone</mat-icon> +99897 883 77 27</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mat-elevation-z2 text-center p-3" style="height: 180px;">
                            <h3><b>Qodirova Sarvinoz</b></h3>
                            <p><mat-icon style="vertical-align: middle">location_pin</mat-icon>Yangi Sergeli 127 Or-r sport majmuasi
                            </p>
                            <p><mat-icon style="vertical-align: middle">phone</mat-icon> +99897 113 99 00</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mat-elevation-z2 text-center p-3" style="height: 180px;">
                            <h3><b>Xuzamberdiev Abdusattor</b></h3>
                            <p><mat-icon style="vertical-align: middle">location_pin</mat-icon>st. Shota Rustaveli (Usmon Nosir) 53A
                            </p>
                            <p><mat-icon style="vertical-align: middle">phone</mat-icon> +99890 940 55 66</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mat-elevation-z2 text-center p-3" style="height: 180px;">
                            <h3><b>Valixo'jaev Akmal</b></h3>
                            <p><mat-icon style="vertical-align: middle">location_pin</mat-icon>st. Iftixor 5A, Or-r bozori Malik
                            </p>
                            <p><mat-icon style="vertical-align: middle">phone</mat-icon> +99895 512 22 68</p>
                        </div>
                    </div>
                </div>
                <h2 class="text-center my-3"> Toshkent shahri</h2>
                <div class="row">
                    <div class="col-3">
                        <div class="mat-elevation-z2 text-center p-3" style="height: 180px;">
                            <h3><b>Yulchieva Dildora</b></h3>
                            <p><mat-icon style="vertical-align: middle">location_pin</mat-icon>
                                Navoiy ko‘chasi 7
                            <p><mat-icon style="vertical-align: middle">phone</mat-icon> +99897 883 77 27</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mat-elevation-z2 text-center p-3" style="height: 180px;">
                            <h3><b>Qodirova Sarvinoz</b></h3>
                            <p><mat-icon style="vertical-align: middle">location_pin</mat-icon>Yangi Sergeli 127 Or-r sport majmuasi
                            </p>
                            <p><mat-icon style="vertical-align: middle">phone</mat-icon> +99893 538 80 88</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mat-elevation-z2 text-center p-3" style="height: 180px;">
                            <h3><b>Mahamadjonova Robiya</b></h3>
                            <p><mat-icon style="vertical-align: middle">location_pin</mat-icon>Sebzor "Oltin uy"
                            </p>
                            <p><mat-icon style="vertical-align: middle">phone</mat-icon> +99899 911 77 99</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mat-elevation-z2 text-center p-3" style="height: 180px;">
                            <h3><b>Qosimov Xusan</b></h3>
                            <p><mat-icon style="vertical-align: middle">location_pin</mat-icon>Usta shirin ko'ch. Or. Jomiy bozor.
                            <p><mat-icon style="vertical-align: middle">phone</mat-icon> +99895 512 22 68</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>
