<section id="team" class="section team-area ptb_100" style="background-color: #fff;">
    <div class="container-fluid">
        <h2 class="text-capitalize" style="color: #E54B4B;">Ommabop tovarlar</h2>
        <div class="row">
            <!-- Team Slider -->
            <div class="team-slider owl-carousel">
                <!-- Single Team -->
                <div class="p-2 m-2 text-center" style="background-color: #fff;">
                    <div class="m-auto" style="width: 100%;">
                        <img src="./assets/4/site/7.png" style="" alt="">
                    </div>
                    <div class="team-content mt-2 mb-1">
                        <h5 class="m-3">Oshxona plitalari</h5>
                        <h4 class="m-3"><b>Artel Simfoniya 02-G Gaz plitasi</b></h4>
                    </div>
                </div>
                <!-- Single Team -->
                <div class="p-2 m-2 text-center" style="background-color: #fff;">
                    <div class="m-auto" style="width: 100%;">
                        <img src="./assets/4/site/8.jpg" style="" alt="">
                    </div>
                    <div class="team-content mt-2 mb-1">
                        <h5 class="m-3">Mikroto’lqinli pechlar</h5>
                        <h4 class="m-3"><b>Artel 23MX39 Mikroto'lqinli pechi</b></h4>
                    </div>
                </div>
                <!-- Single Team -->
                <div class="p-2 m-2 text-center" style="background-color: #fff;">
                    <div class="m-auto" style="width: 100%;">
                        <img src="./assets/4/site/9.png" style="" alt="">
                    </div>
                    <div class="team-content mt-2 mb-1">
                        <h5 class="m-3">Mini pechlar</h5>
                        <h4 class="m-3"><b>Artel MD 4218 Art-Retro Mini-pechi</b></h4>
                    </div>
                </div>
                <!-- Single Team -->
                <div class="p-2 m-2 text-center" style="background-color: #fff;">
                    <div class="m-auto" style="width: 100%;">
                        <img src="./assets/4/site/10.jpg" style="" alt="">
                    </div>
                    <div class="team-content mt-2 mb-1">
                        <h5 class="m-3">Elektrda go'sht maydalagich</h5>
                        <h4 class="m-3"><b>Go'sht maydalagich ART-MG-1080</b></h4>
                    </div>
                </div>
                <div class="p-2 m-2 text-center" style="background-color: #fff;">
                    <div class="m-auto" style="width: 100%;">
                        <img src="./assets/4/site/11.png" style="" alt="">
                    </div>
                    <div class="team-content mt-2 mb-1">
                        <h5 class="m-3">O'rnatiladigan texnika</h5>
                        <h4 class="m-3"><b>Artel Premio I64-1730 O'rnatiladigan pishirish yuzasi</b></h4>
                    </div>
                </div>
                <div class="p-2 m-2 text-center" style="background-color: #fff;">
                    <div class="m-auto" style="width: 100%;">
                        <img src="./assets/4/site/12.png" style="" alt="">
                    </div>
                    <div class="team-content mt-2 mb-1">
                        <h5 class="m-3">Elektr choynaklari</h5>
                        <h4 class="m-3"><b>ART-TM-168 elektr choynagi</b></h4>
                    </div>
                </div>
                <div class="p-2 m-2 text-center" style="background-color: #fff;">
                    <div class="m-auto" style="width: 100%;">
                        <img src="./assets/4/site/13.jpg" style="" alt="">
                    </div>
                    <div class="team-content mt-2 mb-1">
                        <h5 class="m-3">Kir yuvish mashinalari</h5>
                        <h4 class="m-3"><b>Artel 60C101-I-WH Avtomat kir yuvish mashinasi</b></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
