<section id="home" class="section welcome-area">
    <div style="position:absolute;width: 100vw;background: rgba(0,0,0,.35) url('./assets/3/site3/bg.png') right center no-repeat;height: 80vh">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <!-- Welcome Intro Start -->
            <div class="col-12">
                <div class="welcome-intro">
                    <h2 class="" style="margin-top: 50px;margin-left: 100px;">
                        Oʻzbekistonda birinchi ixtisoslashtirilgan korxona <br>
                        alyuminiy profillar va armatura ishlab chiqarish uchun
                    </h2>
                    <button class="text-uppercase" style="margin-left: 100px;background-color: #E44B4B;color: #fff;" mat-raised-button>Batafsil ma'lumot</button>
                </div>
            </div>
        </div>
    </div>
</section>
