<section class="section about-app-area ptb_100">
    <div class="shapes-container">
        <div class="shape-1"></div>
    </div>
    <div class="container">
        <h2 class="my-4" style="position: relative;z-index: 2;">Aynan siz uchun qanday romlar to’g’ri keladi?</h2>
        <h2 class="my-3" style="position: relative;z-index: 2;">Foydali maqolalar va yangiliklar</h2>
        <div class="row my-3">
            <div class="col-12 col-lg-6">
                <!-- About Text -->
                <div>
                    <img src="../../../assets/2/EH6A2901.jpg" alt="">
                </div>
                <div class="about-text">
                    <!-- Headings -->
                    <div class="headings d-flex align-items-center mb-4">
                        <h4 class="text-capitalize"><a routerLink="/maqolalar">AKFA kompaniyalar guruhi ta’sischilarining o‘zgarganligi to‘g‘risida</a></h4>
                    </div>
                    <p class="my-3">AKFA kompaniyasi ta’sischilari va direktorlar kengashi o‘zgarganligi munosabati bilan direktorlar kengashining yangi raisi sifatida Ganiyev Abror Axralovich tayinlandi</p>
                    <!-- Store Buttons -->
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <!-- About Text -->
                <div>
                    <img src="../../../assets/2/Untitled-1.jpg" alt="">
                </div>
                <div class="about-text">
                    <!-- Headings -->
                    <div class="headings d-flex align-items-center mb-4">
                        <h5 class="text-capitalize"><a routerLink="/maqolalar">IMZO kompaniyasi joriy yilning 27 fevralidan 1 martiga qadar “Qurilish - UzBuild 2019” Xalqaro Yubiley koʻrgazmasida ishtirok etadi.</a></h5>
                    </div>
                    <p class="my-3">IMZO stendida eshik konstruksiyalarining innovatsion yechimlari taqdim etilad. Shuningdek, IMZO kompaniyasi rom va fasad tizimlari ekspozitsiyasini taqdim etadi.</p>
                    <!-- Store Buttons -->
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <!-- About Text -->
                <div>
                    <img src="../../../assets/2/1.jpg" alt="">
                </div>
                <div class="about-text">
                    <!-- Headings -->
                    <div class="headings d-flex align-items-center mb-4">
                        <h5 class="text-capitalize"><a routerLink="/maqolalar">Issiqlik energiyasini saqlovchi derazalarning foydasi qanday</a></h5>
                    </div>
                    <p class="my-3">Ko’pchilik deraza o’rnatayotib, uning ko’rinishiga va mustahkamligiga e’tibor qaratadi. Kamdan-kam odamlar uning issiqlik energiyasini saqlash xususiyatiga ahamiyat berishadi.</p>
                    <!-- Store Buttons -->
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button mat-raised-button class="text-uppercase" routerLink="/maqolalar" style="background-color: #F50051;color: #fff;">Barcha maqolalarni o'qish</button>
        </div>
    </div>
</section>
