<div class="blog">
    <app-scrollup></app-scrollup>
    <app-header-one [url]="'about'"></app-header-one>
    <div class="all-area">
        <img src="./assets/4/site/about-bg.png" style="margin-top: 50px;" alt="">
        <div class="container mt-3">
            <div class="row">
                <div class="col-4">
                    <button mat-stroked-button class="text-uppercase p-2" style="border: 1px solid #777">Ishlab chiqarish</button>
                </div>
                <div class="col-4">
                    <button mat-stroked-button class="text-uppercase p-2" style="border: 1px solid #777">Sifatni ta'minlash</button>
                </div>
                <div class="col-4">
                    <button mat-stroked-button class="text-uppercase p-2" style="border: 1px solid #777">Biz bilan bog'laning</button>
                </div>
            </div>
        </div>
        <div class="container my-3">
            <h1 class="my-3"><b>Artel haqida</b></h1>
            <h3 class="my-3">Biz haqimizda</h3>
            <p>Bizning maishiy texnikalarimiz Markaziy Osiyo hamda MDH davlatlarida eng ommabop
                mahsulotdir.
            </p>
            <h3 class="my-3"><b>MISSIYAMIZ</b></h3>
            <p>Ommabop, ishonchli va sifatli mahsulotlar yordamida Markaziy Osiyo hamda MDH davlatlari
                bozorining ulkan ulushini egallash hamda qo`shni davlatlar bozorlaridagi o`z o`rnini
                mustahkamlash.
            </p>
            <h3 class="my-3"><b>BIZNI BIRLASHTIRUVCHI QADRIYATLAR</b></h3>
            <p class="my-3"><b>Iste’molchi – bizning mo`ljalimiz.</b> Biz iste’molchilarni mamnun qilish uchun barcha harakatlarni amalga oshiramiz. Iste’molchi manfaatlarining himoyachisi – doimo haq.
            </p>
            <p class="my-3"><b>Shaxsiy hurmat.</b> Umumiy maqsadlarga muvaffaqiyatli erishish yo`lida har birimiz o`z hissamizni qo`shamiz, shuning uchun hurmatga, odilona munosabatga va ishonchga loyiqmiz.
            </p>
            <p class="my-3"><b>Doimiy takomillashish.</b>Biz o`z oldimizga yuksak maqsadlar qo`yamiz, ularga erishgaсh, maqsad pog`onasini yanada ko`taramiz. Bugungi ish kechagisidan yaxshiroq bajarilishi shart!.
            </p>
            <p class="my-3"><b>Mas’uliyat.</b> Biz o`z ishimiz uchun mas’uliyatni boshqalarga yuklamaymiz. Biz kamchiliklarga ko`z yummaymiz, halollik bilan ish tutib, xatolarni takrorlamaslikka harakat qilamiz.</p>
            <h3 class="my-3">
                <b>SIFAT SOHASIDAGI SIYOSAT</b>
            </h3>
            <h3 class="my-3">
                <b>Tashkilotni boshqarish va uning faoliyati quyidagi tamoyillarga asoslanadi:</b>
            </h3>
            <ul style="list-style: disc;">
                <li style="list-style: disc;margin-left: 15px;">
                    Mahsulot va texnologiyalarni loyihalashtirish, ishlab chiqarish, manfaatdor tomonlar bilan
                    ishonchli o`zaro hamkorlik munosabatlari iste’molchilarning qoniqqanligini doimiy
                    yaxshilashga, yo`qotishlarni kamaytirish va samaradorlikni oshirishga yo`naltirilgan;
                </li>
                <li style="list-style: disc;margin-left: 15px;">
                    Rahbariyatning liderligi korxonalarning maqsadga yo`naltirilgan faoliyatini, jarayonli yondashuvni qo`llab quvvatlashni, ishonchli dalillar va tahlilga asoslangan holda malakali qarorlar qabul qilishni ta’minlaydi;
                </li>
                <li style="list-style: disc;margin-left: 15px;">
                    Kadrlar siyosati хodimlarning yuqori darajada manfaatdorligini ta’minlaydi hamda ularni
                    samarali jamoaga jipslashtiradi.
                </li>
            </ul>
            <h3 class="my-3">
                <b>Rahbariyat:</b>
            </h3>
            <ul>
                <li style="list-style: disc;margin-left: 15px;">
                    mazkur Siyosatni tadbiq qilish va qat’iy bajarish, shuningdek uning tamoyillari asosida qarorlar qabul qilish;
                </li>
                <li style="list-style: disc;margin-left: 15px;">
                    zarur resurslarni va barcha darajalarda bilim va ko`nikmalarni ta’minlash;
                </li>
                <li style="list-style: disc;margin-left: 15px;">
                    sifat sohasidagi Siyosat va Maqsadlarni amalga oshirishda xodimlarning faol ijodkorona ishtiroki uchun sharoitlarni yaratish;
                </li>
                <li style="list-style: disc;margin-left: 15px;">
                    qo`llaniladigan talablarga rioya qilish va Sifatli Boshqaruv Tizimini doimiy takomillashtirish bo`yicha barcha mas’uliyat va majburiyatlarni o`z zimmasiga oladi.
                </li>
            </ul>
            <div class="my-3">
                <img src="./assets/4/site/sertificat-ru.png" alt="">
            </div>
            <div class="my-3">
                <img src="./assets/4/site/sertificat-en.png" alt="">
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
