<section id="team" class="section" style="background-color: #fff;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="mat-elevation-z4 fadeInUp wow" style="height: 100%">
                    <div class="img-thumbnail">
                        <img src="../../../assets/16/main5.jpg" alt="">
                    </div>
                    <div class="p-2">
                        <h3>Yetkazib Berish Geografiyasi</h3>
                        <button mat-flat-button style="background-color: red; color: #fff">Batafsil</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="mat-elevation-z4 fadeInUp wow" style="height: 100%">
                    <div class="img-thumbnail">
                        <img src="../../../assets/16/main6.png" alt="">
                    </div>
                    <div class="p-2">
                        <h3>Texnologiyalar</h3>
                        <button mat-flat-button style="background-color: red; color: #fff">Batafsil</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="mat-elevation-z4 fadeInUp wow" style="height: 100%">
                    <div class="img-thumbnail">
                        <img src="../../../assets/16/main7.png" alt="">
                    </div>
                    <div class="p-2">
                        <h3>Ekologiyani Muhofaza Qilish</h3>
                        <button mat-flat-button style="background-color: red; color: #fff">Batafsil</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
