<section id="home" class="section welcome-area">
    <div class="main-slider owl-carousel">
        <div class="main-slider1 wow fadeInUp">
            <div style="position: relative;top: 300px;left: 200px;z-index: 99;">
                <h1 class="text-white" style="font-size: 80px">Yangi hayot eshigini oching !</h1>
            </div>
        </div>
        <div class="main-slider2 wow fadeInUp">
            <div style="position: relative;top: 300px;left: 200px;z-index: 99;">
                <h1 class="text-white text-center" style="font-size: 80px;">Biz siz haqizda qayg'uramiz !</h1>
            </div>
        </div>
        <div class="main-slider3 wow fadeInUp">
            <div style="position: relative;top: 300px;left: 200px;z-index: 99;">
                <h1 class="text-white text-center" style="font-size: 80px">Shinamlik bizdan boshlanadi!</h1>
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row align-items-center">
            <div class="col-3">
                <div class="mat-elevation-z4 text-center prod" style="height: 335px">
                    <div class="img-thumbnail">
                        <img src="./assets/16/main1.svg" alt="">
                    </div>
                    <div class="p-3">
                        <h4>
                            Eshik uzoq vaqt xizmat qiladi</h4>
                        <p>
                            Material juda bardoshli va bir necha yil o'tgach, sunta kabi parchalanmaydi. Shokka bardosh beradi, yorilib ketmaydi, chirimaydi. Vaqt o'tishi bilan u deformatsiyalanmaydi.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="mat-elevation-z4 text-center prod" style="height: 335px">
                    <div class="img-thumbnail">
                        <img src="./assets/16/main2.svg" alt="">
                    </div>
                    <div class="p-3">
                        <h4>
                            Turli ranglar
                        </h4>
                        <p>
                            Eshikni tanlashda siz har qanday soyani buyurtma qilishingiz mumkin, bu ichki qismga juda mos keladi.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="mat-elevation-z4 text-center prod" style="height: 335px">
                    <div class="img-thumbnail">
                        <img src="./assets/16/main3.svg" alt="">
                    </div>
                    <div class="my-3">
                        <h4>
                            Issiqlikni saqlaydi, tovushni o'tkazib yubormaydi
                        </h4>
                        <p>
                            Yog'och juda yaxshi ovoz va issiqlik izolyatsiyasiga ega. Eshik tashqarisidagi shovqin haqida tashvishlana olmaysiz va sovuq havo uyga kirmaydi.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="mat-elevation-z4 text-center prod" style="height: 335px">
                    <div class="img-thumbnail">
                        <img src="./assets/16/main4.svg" alt="">
                    </div>
                    <div class="my-3">
                        <h4>
                            chiroyli ko'rinish</h4>
                        <p>
                            Bu ko'plab xaridorlar tomonidan qadrlanadigan va qo'shnilarning hasadini keltirib chiqaradigan eshiklar ko'rinishining "tabiiyligi".
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="my-3"><b>Ichki eshiklar</b></h1>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="float-left" style="width: 40%">
                        <img src="./assets/16/main5.webp" alt="">
                    </div>
                    <div class="float-right" style="width: 60%;margin-top: 150px;padding-left: 30px;">
                        <h1>Premium klass</h1>
                        <button mat-raised-button style="color: #fff;background-color: #FF9021">Batafsil</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-6">
                    <div class="float-left" style="width: 40%">
                        <img src="./assets/16/main6.webp" alt="">
                    </div>
                    <div class="float-right" style="width: 60%;margin-top: 150px;padding-left: 30px;">
                        <h1>Prestij klass</h1>
                        <button mat-raised-button style="color: #fff;background-color: #FF9021">Batafsil</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="float-left" style="width: 40%">
                        <img src="./assets/16/main7.webp" alt="">
                    </div>
                    <div class="float-right" style="width: 60%;margin-top: 150px;padding-left: 30px;">
                        <h1>Elit klass</h1>
                        <button mat-raised-button style="color: #fff;background-color: #FF9021">Batafsil</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-6">
                    <div class="float-left" style="width: 40%">
                        <img src="./assets/16/main8.webp" alt="">
                    </div>
                    <div class="float-right" style="width: 60%;margin-top: 150px;padding-left: 30px;">
                        <h1>Eksklyuziv klass</h1>
                        <button mat-raised-button style="color: #fff;background-color: #FF9021">Batafsil</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>
