<div class="blog">
    <app-scrollup></app-scrollup>
    <div class="all-area">
        <app-header-one></app-header-one>
        <section id="blog" class="section blog-area ptb_100" style="">
        <div class="container my-4">
            <h1 class="text-uppercase" style="font-size: 60px;color: #E44B4B;height: 80px;margin-top: 100px;">Vazifa</h1>
            <div class="row">
                <div class="col-12 w-50 m-auto">
                    <!-- Single Blog -->
                    <div class="mat-elevation-z4 bg-white p-5">
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <!-- Blog Title -->
                            <h2 style="color: #264796" class="">Title</h2>
                            <p style="font-size: 18px;" class="">
                                Kompaniyamiz mijozlar va hamkorlar bilan ishonchli munosabatlarga alohida e'tibor beradi. Biz mas'uliyatni o'z zimmamizga olishdan qo'rqmaymiz, ishimizda maksimal shaffoflikka intilamiz.
                            </p>
                            <p style="font-size: 18px;">
                                Trendlarni chuqur anglash va boy tajriba tufayli Alutex o'z mijozlariga zamonaviy, foydali yechimlarni taklif etadi.
                            </p>
                            <p style="font-size: 18px;">
                                Avtomatlashtirilgan ishlab chiqarishning to'liq tsikli mahsulot har bir mijozning ehtiyojlarini qondirish imkonini beradi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mission-bg" style="margin-top: -100px;margin-bottom: 50px;">
            <img src="./assets/3/site3/mission-bg.jpg" alt="" style="width: 100%; height: 386px; object-fit: cover;">
        </div>
        <div class="container my-3">
            <h1 class="text-center my-3">Sertifikatlar</h1>
            <div class="row">
                <div class="col-4">
                    <div class="mat-elevation-z4 p-3">
                        <div class="text-center my-3">
                            <img src="./assets/3/site3/about2.jpg" alt="">
                        </div>
                        <div>
                            <p>London 2018</p>
                            <h2>Sifat muvofiqlik sertifikati</h2>
                        </div>
                    </div>
                </div>
                <div class="col-8"></div>
            </div>
        </div>
        <app-footer></app-footer>
        </section>
    </div>
</div>
