<div class="blog">
    <app-scrollup></app-scrollup>
    <div class="all-area">
        <app-header-one></app-header-one>
        <img src="./assets/4/site/news.png" alt="">
        <section id="blog" class="section blog-area ptb_100" style="">
            <app-download></app-download>
            <div class="d-flex justify-content-center">
                <button mat-stroked-button class="text-uppercase">Ko'proq yangiliklarni ko'rsatish</button>
            </div>
            <app-promo-one></app-promo-one>
        </section>
        <app-footer></app-footer>
    </div>
</div>
