<div class="blog">
    <app-scrollup></app-scrollup>
    <div class="all-area">
        <app-header-one></app-header-one>
        <img src="./assets/4/site/servis.png" alt="">
        <section id="blog" class="section blog-area ptb_100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h2 class="text-uppercase" style="color: #E54B4B;"><b>Xizmat</b></h2>
                        <h2 class="my-3 text-uppercase"><b>Servis xizmati</b></h2>
                        <p class="my-3" style="font-size: 18px;">Artel servis xizmati mutaxassislari eng qisqa vaqtda diagnostika ishlarini o’tkazishga va har qanday qiyinchilikdagi maishiy texnikani tezlik bilan ta’mirlashga qodir.</p>
                        <p class="my-3" style="font-size: 18px;">Iste’molchilar qulayligi uchun yurtimizda 34 ta Artel servis markazlari O’zbekiston Respublikasi bo’yicha faoliyat ko’rsatmoqda. 380 dan ortiq Artel Servis markazi xodimlari maishiy texnikangizni ta’mirlashda Sizga yordam berishga, va Sizni qiziqtirgan barcha savollaringizga javob berishga doimo tayyor. Ta’mirlash ishlarini xonadoningizda o’tkazish uchun Artel kompaniyasida 50 dan ortiq avtomobillar mavjud.</p>
                        <p class="my-3" style="font-size: 18px;">Noto’g’ri ekspluatasiya natijasida ishdan chiqqan va ta’mirlashga yaroqsiz maishiy texnika Artel Servis markazlarida qulay sharoitlar bo’yicha yangisiga almashtirilishi mumkin.</p>
                        <button class="my-3 text-white" mat-stroked-button style="background: #62BB46">Sertifikatsiyalangan Artel mutaxassislari ro'yxati</button>
                        <h2 class="text-uppercase my-3">3 YILLIK TO'LIQ BEPUL KAFOLAT</h2>
                        <p style="font-size: 18px;">Barcha yirik Artel maishiy texnikasi 3 yillik to’liq bepul kafolatga ega. Kafolat muddati davomida Siz bepul servis xizmatidan foydalanishingiz va maishiy texnikaning yirik qismlarini bepul almashtiringiz mumkin.</p>
                        <button class="my-3 text-white" mat-stroked-button style="background: #62BB46">Kafolat tafsilotlari</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="single-team p-4 m-2 mat-elevation-z4" style="background-color: #fff;">
                            <h3><b>Servis markazi</b></h3>
                            <div class="team-content mt-2 mb-1">
                                <h3 class="my-3">Respublika bo'yicha 30 dan ortiq Servis markazlari faoliyat ko'rsatmoqda. SERVIS</h3>
                                <button mat-stroked-button>XIZMAT MARKAZLARI</button>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team -->
                    <div class="col-3">
                        <div class="single-team p-4 m-2 mat-elevation-z4" style="background-color: #fff;">
                            <h3><b>Logistika</b></h3>
                            <div class="team-content mt-2 mb-1">
                                <h3 class="my-3">Xususiy logisitika markazi mahsulotlarni eksport davlatlariga yetkazib beradi</h3>
                                <button mat-stroked-button>EKSPORT</button>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team -->
                    <div class="col-3">
                        <div class="single-team p-4 m-2 mat-elevation-z4" style="background-color: #fff;">
                            <h3><b>3 yillik to'liq bepul kafolat</b></h3>
                            <div class="team-content mt-2 mb-1">
                                <h3 class="my-3">Biz barcha Artel mahsulotlariga 3 yil to'liq bepul kafolat beramiz. KAFOLAT</h3>
                                <button mat-stroked-button>KAFOLAT</button>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team -->
                    <div class="col-3">
                        <div class="single-team p-4 m-2 mat-elevation-z4" style="background-color: #fff;">
                            <h3><b>O'rnatish va sozlash</b></h3>
                            <div class="team-content mt-2 mb-1">
                                <h3 class="my-3">Biz maishiy texnikani professional o'rnatish xizmatlarini ko'rsatamiz. O'rnatuvchi</h3>
                                <button mat-stroked-button>O'RNATISH RO'YXATI</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>
