<footer class="section footer-area footer-bg">
    <!-- Footer Top -->
    <div class="footer-top ptb_100">
        <div class="container">
            <div class="row mt-3">
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Social Icons -->
                        <h3 class="footer-title text-white mb-2">Katalog</h3>
                        <ul>
                            <li class="py-2"><a class="text-white-50" href="#">Kichik maishiy texnika</a></li>
                            <li class="py-2"><a class="text-white-50" href="#">Televizorlar</a></li>
                            <li class="py-2"><a class="text-white-50" href="#">Konditsionerlar</a></li>
                            <li class="py-2"><a class="text-white-50" href="#">Mini pechlar</a></li>
                            <li class="py-2"><a class="text-white-50" href="#">Dudbo'ronlar</a></li>
                            <li class="py-2"><a class="text-white-50" href="#">Sovutgichlar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title text-white mb-2" style="margin-left: 10px;">Xizmat</h3>
                        <div class="row">
                            <ul>
                                <li class="py-2"><a class="text-white-50" href="#">O'rnatish va sozlash</a></li>
                                <li class="py-2"><a class="text-white-50" href="#">Xizmat markazlari ro'yxati</a></li>
                                <li class="py-2"><a class="text-white-50" href="#">Xaritadagi xizmat ko'rsatish markazlari</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title text-white mb-2" style="margin-left: 10px;">Kompaniya haqida</h3>
                        <ul>
                            <li class="py-2"><a class="text-white-50" href="#">Ishlab chiqarish</a></li>
                            <li class="py-2"><a class="text-white-50" href="#">Sifatni ta'minlash</a></li>
                            <li class="py-2"><a class="text-white-50" href="#">Biz bilan bog'laning</a></li>
                            <li class="py-2"><a class="text-white-50" href="#">Media</a></li>
                        </ul>
                        <div class="social-icons d-flex">
                            <a class="facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="instagram" href="#">
                                <i class="fab fa-instagram"></i>
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="telegram" href="#">
                                <i class="fab fa-telegram"></i>
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between text-center py-4">
                        <div class="copyright-left text-white-50">© Artel Group, 2021</div>
                        <div class="copyright-left text-white-50">Biz bilan bog'laning</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
