<section class="section download-area-imzo ptb_100">
    <!-- Shapes Container -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 col-lg-4">
                <!-- Download Text -->
                <div class="mat-elevation-z4 bg-white p-4">
                    <div class="my-2">
                        <h2>Kontaktlar</h2>
                    </div>
                    <h4><b>98 125 04 44</b></h4>
                    <p>09:00 dan 18:00 gacha qo'ng'iroq qiling</p>
                    <p><mat-icon style="vertical-align: middle;">mail</mat-icon> alutex@alutex.uz</p>
                    <h3>Manzil</h3>
                    <p style="margin-top: 5px;">Toshkent shahri, Yunusobod tumani, ko'ch. Shahristonskaya, 10, 6-uy</p>
                </div>
            </div>
            <div class="col-lg-8">
                <h1 class="mb-3">Bizning ofisimiz siz uchun haftaning 5 kuni ochiq</h1>
                <p>Agar siz bizning ofisimizga tashrif buyurmoqchi bo'lsangiz, <br> menejerga tashrifning kerakli vaqti va sanasi to'g'risida xabar bering,
                    <br> biz siz bilan uchrashishni orziqib kutamiz!</p>
            </div>
        </div>
    </div>
</section>
