<style>
    table td {
        font-size: 25px;
        padding: 10px 20px;
        color: #111 !important;
    }

</style>
<div class="blog">
    <app-scrollup></app-scrollup>
    <div class="all-area">
        <app-header-one></app-header-one>
        <div class="news">
            <h1 class="" style="color:#fff;position: relative;top: 300px;font-size: 45px;left: 80px;z-index: 99;"><b>Hamkorlik</b></h1>
        </div>
        <h1 class="text-center my-3" style="font-size: 40px"><b>Hamkorlik</b></h1>
        <div class="container">
            <table class="table-borderless">
                <tr>
                    <td><b>Отдел работы с дилерами: </b></td>
                    <td><b>(97) 734 09 60</b></td>
                    <td><b>Каримов Абдусамад Абдуахатович</b></td>
                </tr>
                <tr>
                    <td><b>Отдел работы с дилерами: </b></td>
                    <td><b>(97) 734 09 60</b></td>
                    <td><b>Каримов Абдусамад Абдуахатович</b></td>
                </tr>
                <tr>
                    <td><b>Отдел работы с дилерами: </b></td>
                    <td><b>(97) 734 09 60</b></td>
                    <td><b>Каримов Абдусамад Абдуахатович</b></td>
                </tr>
                <tr>
                    <td><b>Отдел работы с дилерами: </b></td>
                    <td><b>(97) 734 09 60</b></td>
                    <td><b>Каримов Абдусамад Абдуахатович</b></td>
                </tr>
            </table>
        </div>
        <div class="container" style="padding: 40px 0;">
            <h1 style="color: #111" class="text-uppercase"><b>Bizning mijozlarimiz</b></h1>
           <div class="partner owl-carousel">
               <div>
                    <img src="./assets/16/golden_house.svg" style="width: 150px;" alt="">
               </div>
               <div>
                   <img src="./assets/16/main19.svg" style="width: 150px;" alt="">
               </div>
               <div>
                   <img src="./assets/16/main20.svg" style="width: 150px;" alt="">
               </div>
               <div>
                   <img src="./assets/16/main21.svg" style="width: 150px;" alt="">
               </div>
               <div>
                   <img src="./assets/16/main22.svg" style="width: 150px;" alt="">
               </div>
               <div>
                   <img src="./assets/16/main23.svg" style="width: 150px;" alt="">
               </div>
           </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
