<section id="team" class="section team-area ptb_100" style="background-image: url('./assets/2/site/advantage-bg.png');background-color: #272727;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2 class="text-capitalize" style="color: #E54B4B;">Bizning xizmatlarimiz</h2>
                    <h4 class="text-white">Biz sizning go'yangizni hayotga tatbiq etishda va uning shaklini berishda sizga yordam beramiz.</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Team Slider -->
            <div class="team-slider owl-carousel">
                <!-- Single Team -->
                <div class="single-team p-4 m-2 mat-elevation-z4 text-center" style="background-color: #313131;border: 1px solid #3e3e3e;">
                    <div class="m-auto" style="width: 80%;">
                        <img src="./assets/3/site3/5.png" style="" alt="">
                    </div>
                    <div class="team-content mt-2 mb-1">
                        <h3 class="m-3 text-white">C</h3>
                    </div>
                </div>
                <!-- Single Team -->
                <div class="single-team p-4 m-2 mat-elevation-z4 text-center" style="background-color: #313131;border: 1px solid #3e3e3e;">
                    <div class="m-auto" style="width: 80%;">
                        <img src="./assets/3/site3/6.png" style="" alt="">
                    </div>
                    <div class="team-content mt-2 mb-1">
                        <h2 class="m-3 text-white">Rasm</h2>
                    </div>
                </div>
                <!-- Single Team -->
                <div class="single-team p-4 m-2 mat-elevation-z4 text-center" style="background-color: #313131;border: 1px solid #3e3e3e;">
                    <div class="m-auto" style="width: 80%;">
                        <img src="./assets/3/site3/7.png" style="" alt="">
                    </div>
                    <div class="team-content mt-2 mb-1">
                        <h2 class="m-3 text-white">Anodlash</h2>
                    </div>
                </div>
                <!-- Single Team -->
                <div class="single-team p-4 m-2 mat-elevation-z4 text-center" style="background-color: #313131;border: 1px solid #3e3e3e;">
                    <div class="m-auto" style="width: 80%;">
                        <img src="./assets/3/site3/8.png" style="" alt="">
                    </div>
                    <div class="team-content mt-2 mb-1">
                        <h2 class="m-3 text-white">Ekstruziya</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2 class="text-capitalize" style="color: #E54B4B;">Hamkorlar</h2>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3 text-center">
                <div class="m-auto mat-elevation-z4 p-3" style="background-color: #313131;border: 1px solid #3e3e3e;">
                    <img src="./assets/3/site3/9.png" style="" alt="">
                </div>
            </div>
            <div class="col-3 text-center">
                <div class="m-auto mat-elevation-z4 p-3" style="background-color: #313131;border: 1px solid #3e3e3e;">
                    <img src="./assets/3/site3/10.png" style="" alt="">
                </div>
            </div>
            <div class="col-3 text-center">
                <div class="m-auto p-3 mat-elevation-z4" style="background-color: #313131;border: 1px solid #3e3e3e;">
                    <img src="./assets/3/site3/11.png" style="" alt="">
                </div>
            </div>
            <div class="col-3 text-center">
                <div class="m-auto p-3 mat-elevation-z4" style="background-color: #313131;border: 1px solid #3e3e3e;">
                    <img src="./assets/3/site3/12.png" style="" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-center">
                <div class="m-auto p-3 mat-elevation-z4" style="background-color: #313131;border: 1px solid #3e3e3e;">
                    <img src="./assets/3/site3/13.png" style="" alt="">
                </div>
            </div>
            <div class="col-3 text-center">
                <div class="m-auto p-3 mat-elevation-z4" style="background-color: #313131;border: 1px solid #3e3e3e;">
                    <img src="./assets/3/site3/14.png" style="" alt="">
                </div>
            </div>
            <div class="col-3 text-center">
                <div class="m-auto p-3 mat-elevation-z4" style="background-color: #313131;border: 1px solid #3e3e3e;height: 100%;line-height: 175px;">
                    <img src="./assets/3/site3/15.png" style="" alt="">
                </div>
            </div>
            <div class="col-3 text-center">
                <div class="m-auto p-3 mat-elevation-z4" style="background-color: #313131;border: 1px solid #3e3e3e;">
                    <img src="./assets/3/site3/16.png" style="" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
