<div class="blog">
    <app-scrollup></app-scrollup>
    <div class="all-area">
        <app-header-one></app-header-one>
        <img src="./assets/4/site/1920-х-600_2.jpg" alt="">
        <div class="container my-4">
            <h1 class="text-uppercase" style="color: #E44B4B;height: 80px;margin-top: 100px;"><b>Maishiy texnika</b></h1>
            <div class="row my-3">
                <div class="col-3">
                    <div class="mat-elevation-z4">
                        <div class="position-relative catalog-img">
                            <img src="./assets/4/site/catalog1.jpg" alt="">
                            <div class="img-overlay"></div>
                            <h3 class="my-2 catalog-header text-white text-center"><b>Kichik maishiy texnika</b></h3>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mat-elevation-z4">
                        <div class="position-relative catalog-img">
                            <img src="./assets/4/site/catalog2.jpg" alt="">
                            <div class="img-overlay"></div>
                            <h3 class="my-2 catalog-header text-white text-center"><b>Televizorlar</b></h3>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mat-elevation-z4">
                        <div class="position-relative catalog-img">
                            <img src="./assets/4/site/catalog3.jpg" alt="">
                            <div class="img-overlay"></div>
                            <h3 class="my-2 catalog-header text-white text-center"><b>Konditsionerlar</b></h3>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mat-elevation-z4">
                        <div class="position-relative catalog-img">
                            <img src="./assets/4/site/catalog4.jpg" alt="">
                            <div class="img-overlay"></div>
                            <h3 class="my-2 catalog-header text-white text-center"><b>Mini pechlar</b></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-3">
                    <div class="mat-elevation-z4">
                        <div class="position-relative catalog-img">
                            <img src="./assets/4/site/catalog5.jpg" alt="">
                            <div class="img-overlay"></div>
                            <h3 class="my-2 catalog-header text-white text-center"><b>Dudbo'ronlar</b></h3>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mat-elevation-z4">
                        <div class="position-relative catalog-img">
                            <img src="./assets/4/site/catalog6.jpg" alt="">
                            <div class="img-overlay"></div>
                            <h3 class="my-2 catalog-header text-white text-center"><b>Mikroto'lqinli pechlar</b></h3>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mat-elevation-z4">
                        <div class="position-relative catalog-img">
                            <img src="./assets/4/site/catalog7.jpg" alt="">
                            <div class="img-overlay"></div>
                            <h3 class="my-2 catalog-header text-white text-center"><b>Oshxona plitalari</b></h3>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mat-elevation-z4">
                        <div class="position-relative catalog-img">
                            <img src="./assets/4/site/catalog8.png" alt="">
                            <div class="img-overlay"></div>
                            <h3 class="my-2 catalog-header text-white text-center"><b>Sovutgichlar</b></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="mat-elevation-z4">
                        <div class="position-relative catalog-img">
                            <img src="./assets/4/site/catalog9.png" alt="">
                            <div class="img-overlay"></div>
                            <h3 class="my-2 catalog-header text-white text-center"><b>Telefonlar</b></h3>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mat-elevation-z4">
                        <div class="position-relative catalog-img">
                            <img src="./assets/4/site/catalog10.png" alt="">
                            <div class="img-overlay"></div>
                            <h3 class="my-2 catalog-header text-white text-center"><b>Changyutgichlar</b></h3>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mat-elevation-z4">
                        <div class="position-relative catalog-img">
                            <img src="./assets/4/site/catalog11.png" alt="">
                            <div class="img-overlay"></div>
                            <h3 class="my-2 catalog-header text-white text-center"><b>Idish yuvish mashinalari</b></h3>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mat-elevation-z4">
                        <div class="position-relative catalog-img">
                            <img src="./assets/4/site/catalog12.png" alt="">
                            <div class="img-overlay"></div>
                            <h3 class="my-2 catalog-header text-white text-center"><b>Muzlatgichlar</b></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center my-3">
                <button mat-stroked-button class="text-center">Qo'shimcha mahsulot taqdim etish</button>
            </div>
        </div>
        <div class="container-fluid">
            <h3 class="my-3"><b>Yangi mahsulotlar</b></h3>
            <div class="row">
                <!-- Team Slider -->
                <div class="slider-2 owl-carousel">
                    <!-- Single Team -->
                    <div class="p-3 mat-elevation-z4 m-2" style="position: relative;height: 328px;">
                        <div class="" style="width: 100%;position: absolute;top: 0;left: 0;height: 100%;">
                            <img src="./assets/4/site/catalog13.png" style="" alt="">
                        </div>
                        <div class="" style="position: absolute;bottom: 0;left:0;background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,.8) 40%);padding: 20px 30px">
                            <h2>Zo'r poklik uchun mo'ljallangan</h2>
                            <p>ECO Inverter dvigatelli 60С102-I avtomatik kir yuvish mashinasi mukammal tozalik tushunchasini butunlay o'zgartira oladi.</p>
                        </div>
                    </div>
                    <!-- Single Team -->
                    <div class="p-3 mat-elevation-z4 m-2" style="position: relative;height: 328px;">
                        <div class="" style="width: 100%;position: absolute;top: 0;left: 0;height: 100%;">
                            <img src="./assets/4/site/catalog14.png" style="" alt="">
                        </div>
                        <div class="" style="position: absolute;bottom: 0;left:0;background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,.8) 40%);padding: 20px 30px">
                            <h2>Mazali isitadi</h2>
                            <p>Yuqori energiya samaradorligiga ega bo’lgan jozibali va quvvatli mikroto’lqinli pech.</p>
                        </div>
                    </div>
                    <!-- Single Team -->
                    <div class="p-3 mat-elevation-z4 m-2" style="position: relative;height: 328px;">
                        <div class="" style="width: 100%;position: absolute;top: 0;left: 0;height: 100%;">
                            <img src="./assets/4/site/catalog15.png" style="" alt="">
                        </div>
                        <div class="" style="position: absolute;bottom: 0;left:0;background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,.8) 40%);padding: 20px 30px">
                            <h2>Har qanday taom uchun a’lo</h2>
                            <p>Yuqori funksionallik multivarka har qanday pazandalik tajribalariga tayyor
                            </p>
                        </div>
                    </div>
                    <!-- Single Team -->
                    <div class="p-3 mat-elevation-z4 m-2" style="position: relative;height: 328px;">
                        <div class="" style="width: 100%;position: absolute;top: 0;left: 0;height: 100%;">
                            <img src="./assets/4/site/catalog16.png" style="" alt="">
                        </div>
                        <div class="" style="position: absolute;bottom: 0;left:0;background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,.8) 40%);padding: 20px 30px">
                            <h2>Biz to’g’ri sovitish sirini bilamiz</h2>
                            <p>Sharbat chiqaruvchi ART-JMO-613 - meva va sabzavotlarning qattiq turlarini engishga yordam beradi.</p>
                        </div>
                    </div>
                    <div class="p-3 mat-elevation-z4 m-2" style="position: relative;height: 328px;">
                        <div class="" style="width: 100%;position: absolute;top: 0;left: 0;height: 100%;">
                            <img src="./assets/4/site/catalog17.png" style="" alt="">
                        </div>
                        <div class="" style="position: absolute;bottom: 0;left:0;background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,.8) 40%);padding: 20px 30px">
                            <h2>O’zgarmas klassika</h2>
                            <p>Go’zal va betakror tashqi ko’rinishga ega oshxona plitasi eng lazzatli taomlarni tayyorlash uchun yaratilgan.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
