<section class="section download-area-imzo ptb_100">
    <!-- Shapes Container -->
    <div class="container">
        <h1 class="text-uppercase">So'nggi yangiliklar</h1>
        <div class="row my-3">
            <div class="col-12 col-md-10 col-lg-4">
                <!-- Download Text -->
                <div class="mat-elevation-z4" style="position: relative;height: 350px;">
                    <div style="position: absolute;top: 0;left: 0;">
                        <img src="./assets/4/site/14.jpg" alt="">
                    </div>
                    <div class="p-4" style="position: absolute;bottom: 0;">
                        <h3>Arteldan zamonaviy oshxonangiz uchun takliflar:Arteldan Yangi Yil...</h3>
                        <a routerLink="/news" class="text-uppercase" style="text-decoration: underline;color: yellowgreen;">Qo'shimcha ma'lumot</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10 col-lg-4">
                <!-- Download Text -->
                <div class="mat-elevation-z4" style="position: relative;height: 350px;">
                    <div style="position: absolute;top: 0;left: 0;">
                        <img src="./assets/4/site/15.jpg" alt="">
                    </div>
                    <div class="p-4" style="position: absolute;bottom: 0;">
                        <h3>Yangi sovutgich yutib olish imkoniyatiga ega bo'ling</h3>
                        <a routerLink="/news" class="text-uppercase" style="text-decoration: underline;color: yellowgreen;">Qo'shimcha ma'lumot</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10 col-lg-4">
                <!-- Download Text -->
                <div class="mat-elevation-z4" style="position: relative;height: 350px;">
                    <div style="position: absolute;top: 0;left: 0;">
                        <img src="./assets/4/site/16.png" alt="">
                    </div>
                    <div class="p-4" style="position: absolute;bottom: 0;">
                        <h3>Artel kompaniyasi kitobxonlikni targ‘ib etadi</h3>
                        <a routerLink="/news" class="text-uppercase" style="text-decoration: underline;color: yellowgreen;">Qo'shimcha ma'lumot</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-12 col-md-10 col-lg-4">
                <!-- Download Text -->
                <div class="mat-elevation-z4" style="position: relative;height: 350px;">
                    <div style="position: absolute;top: 0;left: 0;border-bottom: 1px solid #d1d1d1">
                        <img src="./assets/4/site/17.png" alt="">
                    </div>
                    <div class="p-4" style="position: absolute;bottom: 0;">
                        <h3>Artel dunyo bozorini zabt etmoqda</h3>
                        <a routerLink="/news" class="text-uppercase" style="text-decoration: underline;color: yellowgreen;">Qo'shimcha ma'lumot</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10 col-lg-4">
                <!-- Download Text -->
                <div class="mat-elevation-z4" style="position: relative;height: 350px;">
                    <div style="position: absolute;top: 0;left: 0;">
                        <img src="./assets/4/site/18.png" alt="">
                    </div>
                    <div class="p-4" style="position: absolute;bottom: 0;">
                        <h3>Artel kompaniyasi xalqaro «Markaziy Osiyo 2020...</h3>
                        <a routerLink="/news" class="text-uppercase" style="text-decoration: underline;color: yellowgreen;">Qo'shimcha ma'lumot</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10 col-lg-4">
                <!-- Download Text -->
                <div class="mat-elevation-z4" style="position: relative;height: 350px;">
                    <div style="position: absolute;top: 0;left: 0;">
                        <img src="./assets/4/site/19.png" alt="">
                    </div>
                    <div class="p-4" style="position: absolute;bottom: 0;">
                        <h3>Artel Tanzaniyaga umumiy qiymati 100 000 AQSH...</h3>
                        <a routerLink="/news" class="text-uppercase" style="text-decoration: underline;color: yellowgreen;">Qo'shimcha ma'lumot</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
