<section id="benifits" class="section">
    <div class="container-fluid">
        <h1 class="my-4 text-uppercase">
            <span style="color: #111;"><b>Tugallangan ishlarning fotogalereyasi</b></span>
        </h1>
        <div class="row" style="margin-bottom: 70px;">
            <div class="col-4">
                <div class="mat-elevation-z4 wow fadeInUp rounded" >
                    <div class="img-thumbnail">
                        <div class="gal-1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="mat-elevation-z4 wow fadeInUp rounded" >
                    <div class="img-thumbnail">
                        <div class="gal-2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="mat-elevation-z4 wow fadeInUp rounded">
                    <div class="img-thumbnail">
                        <div class="gal-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-4">
                <div class="mat-elevation-z4 wow fadeInUp rounded">
                    <div class="img-thumbnail">
                        <div class="gal-4">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="mat-elevation-z4 wow fadeInUp rounded">
                    <div class="img-thumbnail">
                        <div class="gal-5">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="mat-elevation-z4 wow fadeInUp rounded">
                    <div class="img-thumbnail">
                        <div class="gal-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
