<div class="blog">
    <app-scrollup></app-scrollup>
    <app-header-one [url]="'about'"></app-header-one>
    <div class="all-area">
        <div class="about-bg">
            <h1 class="" style="color:#fff;position: relative;top: 300px;font-size: 45px;left: 80px;z-index: 99;"><b>Kompaniya haqida</b></h1>
        </div>
        <div class="container" style="padding: 40px 0">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center mb-3"><b>Kompaniya haqida</b></h1>
                    <div>
                        <img src="./assets/16/about1.webp" alt="">
                    </div>
                    <p style="font-size: 16px;">
                        1992-yildan beri Rasulov G.I. ofis xodimlaridan tortib sex ishchilarigacha bo‘lgan yuqori malakali mutaxassislarning katta oilasi hisoblanadi. Biz mahsulotlarimiz sifatini juda qadrlaymiz va tahlilchilar mijozlarimizning didi va istaklarini inobatga olgan holda sifatni yaxshilash ustida doimiy ish olib bormoqda. Ayni paytda Rasulov GI 300 dan ortiq eshik modellarini taklif etadi. Tabiatdan eng yaxshisini tanlab, qalbini sarmoya qilgan hunarmandlar o'z ishini haqiqiy san'atga aylantirmoqda. O'zgarmas sifat, bebaho tajriba, tabiiy material va yorqin tasavvurlar parvozi bizning eshiklarimizda bir-biriga bog'langan.
                    </p>
                </div>
                <div class="col-12 my-3">
                    <h1 class="text-center mb-3"><b>Boshqaruv</b></h1>
                    <div class="text-center">
                        <img src="./assets/16/about2.webp" alt="">
                    </div>
                    <p style="font-size: 16px;">
                        Qanday qilib oddiy duradgordan yirik biznes egasi bo'lish mumkin?
                    </p>
                    <p>
                        "Rasulov G.I." asoschisi Rasulov G‘ofurjon Islomovich Toshkent viloyati Yangiyo‘l tumani Eski Qovunchi qishlog‘ida oddiy sotuvchi oilasida tug‘ilgan. U 7-sinf o‘quvchisi bo‘lib o‘z qishlog‘ida yashovchi duradgor Tursunboy otaga shogird bo‘lib, oradan bir yil o‘tib, 15 yoshida mustaqil duradgor bo‘lib, mehnat faoliyatini boshlaydi. 1988-1992-yillarda o‘z uyida eshik va rom yasadi, bozorda savdo yo‘lga qo‘ydi. 1992-yilda IP sertifikatini olib, qishloqda 8 nafar tengdoshlarini o‘qitib, xalq o‘rtasida savdo-sotiqni rivojlantirib, eshik-romlar ishlab chiqarishni yo‘lga qo‘ydi. 1992-yilda 8 nafar xodim bilan tashkil etilgan bo‘lib, u 30 000 kvadrat metrdan oshdi va 400 dan ortiq kishini ish bilan ta’minladi.
                    </p>
                    <p>
                        Bizning asoschimizning hikoyasi shuni ko'rsatadiki, imkonsiz narsa yo'q: mehnat va qat'iyat har doim mukofotlanadi
                    </p>
                </div>
            </div>

        </div>
        <app-footer></app-footer>
    </div>
</div>
